.btn:hover{
    background-color: brown;
}
.headline:hover{
    color: cadetblue;
}
.card-title{
    color: brown;
}
.card-title:hover{
    color: green;
}
.card:hover{
    background-color: rgb(229, 229, 243);
    transform: translateY(10px);
}
